<div class='beer-container'>
  <div class='beer'>
    <div class='beer-image'>
      <img src='{{beer.image_url}}' alt='{{beer.name}} Image' />
    </div>
    <div class='beer-details'>
      <h2>{{beer.name}}</h2>
      <p>{{beer.description}}</p>
      <p class='tagline'><strong>Tagline:</strong> {{beer.tagline}}</p>
    </div>
  </div>
</div>